/*Overall Details*/

:root {
    --bright-colour: rgb(243,108,33);
    --primary-colour: rgb(40, 39, 44);
    --light-colour: rgb(222,222,222);
  }

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p{
    font-family: "Roboto", sans-serif;
}

h1{
    font-family: "Oswald", sans-serif;
    font-weight:800;
    font-size: 6rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h2{
    font-family: "Oswald", sans-serif;
    line-height: 1;
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h3{
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h4{
    font-family: "Oswald", sans-serif;
    line-height: 1;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a{
    font-family: "Oswald", sans-serif;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a:hover{
    scale: 1.1;
    text-decoration: underline;
}

.box {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 1rem 0;
    margin-bottom: 5rem;
}

.body {
    position: relative;
    top: 3rem;
    width: 100%;
    height: 100%;
}

.headingBox{
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.heading {
    background-color: var(--bright-colour);
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    color: white;
    margin-right: 2rem;
    
}

@media only screen and (max-width: 1000px){
    .headingBox{
        flex-direction: column;
        align-items: start;
        padding-left: 2rem;
        text-align: start;
    }

    .heading{
        margin-bottom: 1rem;
    }
}

/*Header*/
header{
    display: inline-flex;
    align-items: end;
    justify-content: space-between;
    width:100%;
    background-color: var(--primary-colour);
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 0.2rem solid var(--bright-colour);
    z-index: 3;
}

#headerCompany{
    display: inline-flex;
    align-items: end;
    color: white;
}

#headerCompany h2{
    margin-right: 1rem;
}

#headerLogo{
    height: 3rem;
    margin-right: 0.5rem;
}

nav img{
    display: none;
}

nav{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    margin-left: 1rem;
    text-align: center;
}

nav h4{
    font-family: 'Alumni Sans';
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 0;
}

@media only screen and (max-width: 750px){
    header{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #headerCompany{
        flex-direction: row;
        justify-content: left;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 450px){
    #headerCompany h2{
        display: none;
    }

    #headerCompany h4{
        display: none;
    }
}

/*Mission*/

#home{
    background-color: rgb(212, 212, 189);
    display:inline-flex;
    flex-direction: column;
    margin-top: 4rem;
    width:100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    background-image:url(../images/Sunset.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero{
    background-color: white;
    border-radius: 2rem;
    padding: 4rem 2rem;
    box-sizing: border-box;
    width: 30rem;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h3{
    margin-bottom: 1rem;
}

#hero p{
    color: var(--bright-colour);
    font-weight: 700;
}


@media only screen and (max-width: 600px){
    #hero h3{
        font-size: 1.5rem;
    }

    #hero{
        width: 20rem;
    }
}

@media only screen and (max-width: 450px){
    #hero h1{
        font-size: 4rem;
    }
    
    #hero h3{
        font-size: 1rem;
    }
}

/*values*/

#valuesContainer{
    display: inline-flex;
    justify-content: space-around;
    width:100%; 
}

.value h2{
    text-shadow: 2px 2px var(--primary-colour);
    color:var(--bright-colour);
    margin-bottom: 1rem;
}

.value{
    width: 30%;
    height: 16rem;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--primary-colour);
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s;
    opacity: 0;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.3);
    border-radius: 2rem;
}

#valueA{
    background-image: url(../images/values/build.jpg);
}

#valueB{
    background-image: url(../images/values/research.jpg);
}

#valueC{
    background-image: url(../images/values/destroy.jpeg);
}

.value:hover .overlay {
    opacity: 1;
}

@media only screen and (max-width: 750px){
    #valuesContainer{
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .value{
        width: 97%;
        height: 200px;
        margin: 0.5rem 0;
    }
}

/*Our People*/

#ourPeople{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    text-align: center;
}

#peopleContainer{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.person{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 1rem;
}

.person img{
    width: 100%;
    border-radius: 2rem;
}

.person h3{
    margin-top: 0.2rem;
}

@media only screen and (max-width: 750px){
    #peopleContainer{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .person{
        margin: 0.5rem;
        width: 60%;
    }
}

/* Project */
#projectContainer {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    
}

.project {
    display: inline-flex;
    align-items: start;
    justify-content: space-between;
    width: 90vw;
    height: 30vw;
    background-color: var(--bright-colour);
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.project h3{
    margin-bottom: 2rem;
}

.projectImage{
    width: 66%;
    height: 100%;
    overflow: hidden;
}

.projectImage img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position:center;
}

.projectDescriptionRight {
    color: white;
    padding: 2rem;
    box-sizing: border-box;
    text-align: left;
    width: 33%;
}

.projectDescriptionLeft {
    color: white;
    padding: 2rem;
    box-sizing: border-box;
    text-align: right;
    width: 33%;
}

@media only screen and (max-width: 950px){
    .projectImage {
        width: 50%;
    }

    .projectDescriptionRight{
        width: 50%;
    }

    .projectDescriptionLeft{
        width: 50%;
    }
}

@media only screen and (max-width: 750px){
    .project{
        flex-direction: column;
        width: 90vw;
        height: 150vw;
    }

    .projectImage {
        width: 100%;
        height: 66%;
    }

    .projectDescriptionLeft{
        width: 100%;
        text-align: left;
    }

    .projectDescriptionRight{
        width: 100%;

    }
}

/*footer*/
footer{
    position: relative;
    padding: 1rem 2rem;
    top: 1rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--primary-colour);
    box-sizing: border-box;
    color: white;
}

#footerLogo{
    height: 2rem;
    margin-right: 0.5rem;
}

#footerCompany{
    display: inline-flex;
    align-items: end;
}